/* Background */
.chroma {
  color: var(--dark);
  background-color: var(--light0);

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 8px;

  border-left: 2.5px solid var(--dark2);

  font-family: "Lucida Console","Courier New",monospace;
  line-height: 1.25;

  /* min-width: 100%; */
  overflow: scroll;
}

.chroma code {
  padding-left: 0;
  padding-right: 0;
  /* font-size: 18px; */
  /* font-size: 16px; */
}

/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: var(--red); }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: var(--accent-cyan); }
/* KeywordConstant */ .chroma .kc { color: var(--accent-brown); }
/* KeywordDeclaration */ .chroma .kd { color: var(--accent-cyan); }
/* KeywordNamespace */ .chroma .kn { color: var(--accent-blue); }
/* KeywordPseudo */ .chroma .kp { color: var(--accent-purple) }
/* KeywordReserved */ .chroma .kr { color: var(--accent-cyan); }
/* KeywordType */ .chroma .kt { color: var(--accent-purple); }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: var(--accent-blue) }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #f92672 }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #ffc300 }
/* LiteralString */ .chroma .s { color: #ffc300 }
/* LiteralStringAffix */ .chroma .sa { color: #ffc300 }
/* LiteralStringBacktick */ .chroma .sb { color: #ffc300 }
/* LiteralStringChar */ .chroma .sc { color: #ffc300 }
/* LiteralStringDelimiter */ .chroma .dl { color: #ffc300 }
/* LiteralStringDoc */ .chroma .sd { color: #ffc300 }
/* LiteralStringDouble */ .chroma .s2 { color: var(--accent-green) }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #ffc300 }
/* LiteralStringInterpol */ .chroma .si { color: #ffc300 }
/* LiteralStringOther */ .chroma .sx { color: #ffc300 }
/* LiteralStringRegex */ .chroma .sr { color: #ffc300 }
/* LiteralStringSingle */ .chroma .s1 { color: #ffc300 }
/* LiteralStringSymbol */ .chroma .ss { color: #ffc300 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: var(--accent-brown) }
/* OperatorWord */ .chroma .ow { color: var(--accent-brown) }
/* Punctuation */ .chroma .p { color: var(--dark2) }
/* Comment */ .chroma .c { color: var(--accent-green) }
/* CommentHashbang */ .chroma .ch { color: var(--dark2) }
/* CommentMultiline */ .chroma .cm { color: var(--accent-green) }
/* CommentSingle */ .chroma .c1 { color: var(--accent-green) }
/* CommentSpecial */ .chroma .cs { color: var(--accent-green) }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
