<header>
  <nav class="navbar" role="navigation">
    <div id="nav">
      <!-- <div id="nav-left"> -->
      <table id="nav-left">
        <tr>
          <th><a href="/">Grant Jurgensen</a></th>
        </tr>
      </table>
      <!-- </div> -->
      <!-- <div id="nav-right"> -->
      <table id="nav-right">
        <tr>
          <th><a href="/posts">Posts</a></th>
          <th><a href="/publications">Publications</a></th>
        </tr>
      </table>
      <!-- </div> -->
    </div>
  </nav>
</header>
